[submodule "output"]
	path = output
	url = git@github.com:sevas/sevas.github.io.git
[submodule "themes/elegant"]
	path = themes/elegant
	url = https://github.com/talha131/pelican-elegant.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
