---
layout: main
---




<div class="post single hentry">


  <div class="postContent">
    <h3 class="entry-title">
      {{ page.title }} 
    </h3>
    

    
    <div class="entry-content">
      <div class="document">
        {{content}}
      </div>
    </div>

    <div class="postMeta">
        
      <div class="postDate">
        <span>Published:</span> 
        <abbr class="published" title="2010-11-08T09:00:15+0000">
          
            {{page.date | date: "%B %d, %Y"}}
        </abbr>
      </div>
      <br/><br/><br/>
      <div id="twitter">
          <table>
          <tr>
          <td id="twitter-icon">
              <a href="https://twitter.com/sevas"><img src="/media/twitter.png"/ height="24"></a>
          </td>
          <td id="twitter-follow-me">
              Whoa, you read all the way until there. I'll thus shamelessly plug my 
              <a href="https://twitter.com/sevas">twitter account</a>, in case you're into that sort of things.            
          </td>
          </tr>
          </table>
      </div>
    </div>

  </div>  
</div>
